{% extends "layout.html" %}

{% block body %}

<br>
  <h4> Muistilistan kaikki ryhmät </h4>
<br>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Ryhmät</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for group in groups %}
    <tr>
      <td>{{ group.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
  <h4> Uuden ryhmän lisääminen </h4>
<br>

<a class="nav-link" href="{{ url_for('groups_form') }} ">Lisää ryhmä</a>
{% endblock %}
